*{
    margin: opx;
    font-family: 'inter';
}

#logo{
   margin-left: 75px;
   margin-top: 50px;
}

#topmenu-title{
    margin-left: 150px;
    margin-top: 50px;
}

#topmenu-text{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

#topmenu{
    background-image: url(images/topmenu-walpaper.svg);
    background-size: cover;
    color: aliceblue;
}

#infomenu{
    background-color: #EAECE5;
}