*{
    margin: opx;
    background-color: black;
    color: aliceblue;
    font-family: 'inter';
}

#logo{
   margin-left: 75px;
   margin-top: 50px;
}

#topmenu-title{
    margin-left: 150px;
    margin-top: 75px;
}

#topmenu-text{
    margin-left: 150px;
    margin-top: 25px;
}