*{
    margin: opx;
    font-family: 'inter';
}

#logo{
    margin: 50px 0px 0px 50px;
}

#topmenu-title{
    margin: 50px 0px 0px 150px;
}

#topmenu-text{
    margin: 35px 0px 0px 150px;
    padding-bottom: 100px;
}

#topmenu{
    background-image: url(images/topmenu-walpaper.svg);
    background-size: cover;
    color: aliceblue;
}

#infomenu{
    background-color: #EAECE5;
}

.icon{
    margin: 50px 0px 50px 150px;
    align-items: center;
}

#videosection{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#videotitle{
    color: #247BA0;
    margin-top: 50px;
}

#videotext{
    display: flex;
    align-items: center;
}
#video{
    margin: 50px 25px 50px 100px;
}

#carousel{
  background-color: #247BA0;
  margin: 100px 0px 100px 0px;  
  padding: 50px;
}

#carouseltitle{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin: 0px 50px 0px 50px;
}

#leftarrow{
    display: none;
}

#bruna{
    display: none;
}

.arrow{
    margin: 50%;
}